.donutChart {
  .donutChart-title {
    transform: translateY(20px);
  }

  div:nth-of-type(1) {
    height: 200px;
  }
}

.lineChart {
  padding: 10px 15px;
  .lineChart-title {
    padding: 10px 0;
  }

  div:nth-of-type(1) {
    height: 200px;
  }
}
