@import '~antd/dist/antd.less';

.signup-rescuer {
  .left {
    .ant-select-selection-item, .ant-upload, .ant-form-item-extra {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
    }
  }

  .right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  
  .signup-adopter-button {
    margin: 20px 0;
  }

  .signup-criteria {
    text-align: left;
    padding: 10px;
    border-radius: 4px;
    background-color: @primary-color;
    color: @body-background;
  }
}
