.signup-adopter {
  
  .left {
    .ant-select-selection-item,
    .ant-upload {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
    }
  }

  .right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .signup-rescuer-button {
    margin-bottom: 20px;
  }

  .account-type {
    background-color: aqua;
  }
}
