.pet-card {
  .ant-card-body {
    padding: 0 !important;
  }

  .not-available {
    background-color: rgba(0, 0, 0, 0.05);
  }

  .pet-card-details {
    padding: 16px;

    .petName {
      font-size: 18px;
      font-weight: 800;
    }

    .active-adopted,
    .createdAt,
    .location {
      font-size: 12px;
      color: #9e9d9d;
    }

    .more-details {
      padding-top: 10px;
    }
  }
}
