.editable-form {
  .cancel-btn {
    margin-left: 10px;
  }

  .image {
    margin-bottom: 20px;

    span {
      border: 1px solid #d9d9d9;
      box-shadow: 0 2px 0 rgb(0 0 0 / 2%);
    }

    img {
      height: 76px;
      width: 100%;
    }
  }

  .ant-input-status-success {
    background-color: #ffffff;
  }

  .ant-picker {
    width: 100%;
  }

  .ant-form-item-control-input-content,
  .ant-select-selection-item,
  .ant-select-selection-placeholder,
  .ant-form-item-extra,
  .ant-form-item-explain {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-align: left;
  }

  .ant-form-vertical .ant-form-item-label,
  .ant-col-24.ant-form-item-label,
  .ant-col-xl-24.ant-form-item-label {
    padding-bottom: 5px;
  }

  .ant-input-disabled,
  .ant-input[disabled] {
    color: black;
  }

  label {
    font-weight: bold;
    color: gray;
  }

  .ant-checkbox-group span {
    font-weight: normal;
    color: black;
  }

  .images-form {
    .ant-upload.ant-upload-select-picture-card:hover {
      border-color: gray;
    }
  }

  .upload-list-inline {
    width: 100%;

    .ant-upload-list-item {
      margin-right: 8px;
    }
  }

  .display-mode {
    .anticon-delete {
      display: none !important;
    }
  }
  
  .ant-upload-span > a {
    color: black;
  }
}
