.editable-form {
  .cancel-btn {
    margin-left: 10px;
  }

  .image {
    margin-bottom: 20px;

    span {
      border: 1px solid #d9d9d9;
      box-shadow: 0 2px 0 rgb(0 0 0 / 2%);
    }

    img {
      height: 76px;
      width: 100%;
    }
  }

  .ant-input-status-success {
    background-color: #ffffff;
  }

  // .ant-radio-group,
  .ant-form-item-control-input-content,
  .ant-select-selection-item,
  .ant-select-selection-placeholder,
  .ant-form-item-extra {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-align: left;
  }
}
