.editable-form {
  .cancel-btn {
    margin-left: 10px;
  }

  .image {
    img {
      height: 100px;
      max-width: 100%;
      margin-right: 8px;
    }
  }

  .ant-input-status-success {
    background-color: #ffffff;
  }
}
