.pet-form {
    .sliders {
        margin-bottom: 30px;
        display: flex;
        overflow-x: scroll;
        flex-direction: row;
        height: 200px;
    
        img {
          max-width: 100%;
          margin-right: 8px;
        }
    
        &::-webkit-scrollbar {
          width: 7px;
          height: 7px;
          border-radius: 100px;
        }
    
        &::-webkit-scrollbar-track {
          background: rgba(0, 0, 0, 0.1);
          border-radius: 100px;
        }
    
        &::-webkit-scrollbar-thumb {
          background: rgba(0, 0, 0, 0.3);
        }
    
        &::-webkit-scrollbar-thumb {
          border-radius: 3px;
          opacity: 0;
          height: 5px;
        }
      }
}