@import "~antd/dist/antd.less";

.application-status-desc {
  .status {
    padding: 20px;
  }

  .status-description {
    font-size: @font-size-base - 3px;
    color: @disabled-color;
  }

  .steps {
    padding-bottom: 20px;
  }
}
  