@import "~antd/dist/antd.less";

.add-pet {
  form > .ant-row {
    padding-bottom: 10px;
  }
  .ant-radio-group,
  .ant-form-item-control-input-content,
  .ant-select-selection-item,
  .ant-form-item-extra {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .ant-input-textarea,
  .ant-picker {
    width: 100%;
  }

  .ant-collapse-content {
    padding: 10px;
  }

  .submit-btn {
    padding-top: 20px;
  }

  .title {
    padding: 12px 0;
  }

  .left {
    display: flex;
    float: left;
  }

  .not-verified {
    margin: 30px 0;
  }

  .not-verified-title {
    padding: 10px;
    border-radius: 4px;
    background-color: @primary-color;
    color: @body-background;
    margin-bottom: 10px;
  }

  .not-verified-desc {
    padding: 10px;
    border-radius: 4px;
    border: 2px solid gray;
  }
}
